/*----------HEADER SOCIAL ICONS------------*/

header {
	ul {
		display: flex;
		justify-content: flex-end;
		flex-wrap: wrap;
	}

	ul.social li a {
		font-size: 2.5rem;
	}

} //end header
/*------------MAIN----------*/

main {
    div.container1 div {
        -ms-flex: 46%;
        flex-basis: 50%;
    }
    div.container2 figure {
        -ms-flex: 29.333%;
        flex-basis: 33.333%;
    }
	
} //end end
