/*------------HEADER---------------*/

header {
	background-color: $primaryColor;
	color: $secondaryColor;
	padding: 1rem $gutter;
	h1 {
		font-size: 2rem;
		font-weight: $normalWeight;
	}
	h2 {
		font-size: 1.12rem;
		font-weight: $normalWeight;
	} //end h2 rules
    
	/*--------HEADER SOCIAL ICONS-----------*/
	ul {
		display: flex;
		justify-content: space-between;
		flex-wrap: wrap;

	}
	ul.social li {
		list-style-type: none;

	}
	ul.social li a {
		display: block;
		margin: 0 auto;
		background-image: url(../images/media.png);
		height: 3rem;
		width: 3.2rem;
		transition: background-image .5s ease;
	}
	ul.social li a:hover {
		background-image: url(../images/media-.png);
		transition: background-image .5s ease;
        transform: scale(1.05);
	}
	ul.social .vimeo a {
		background-position: -102px -46px;
	}
	ul.social .google a {
		background-position: -53px .3px;
	}
	ul.social .twitter a {
		background-position: -152px .3px;
	}
	ul.social .youtube a {
		background-position: -105px .3px;
	}
	ul.social .vimeo a:hover {
		background-position: -102px -46px;
	}
	ul.social .google a:hover {
		background-position: -53px .3px;
	}
	ul.social .twitter a:hover {
		background-position: -152px .3px;
	}
	ul.social .youtube a:hover {
		background-position: -105px .3px;
	}



} //end header

/*------------------ NAV ----------------*/

nav {
    @include gradient($secondaryColor, darken($secondaryColor, 20%));
	border-bottom: 1px solid rgba(0, 0, 0, .3);
	ul {
		display: flex;
        display: -ms-flexbox;
       
	}
	
	ul li {
		flex-basis: 25%;
        -ms-flex: 25%;
		border-right: 1px solid rgba(0, 0, 0, .3);
        text-decoration: none;
        list-style-type: none;
        
	} //end li
    ul li:last-child {
        border-right: none;
    }
	ul li a {
		display: block;
		text-align: center;
		font-weight: $boldWeight;
		padding: .5rem .3rem;
		color: $primaryColor;
		text-decoration: none;
        
	} //end anchors
	ul li.active a {
		background-color: darken($secondaryColor, 10%);
	} //end active
	ul li a:hover {
		color: $secondaryColor;
		background-color: $primaryColor;
	} //end hover
} //end nav

/*-------------MAIN--------------*/

main {
    display: block;
	max-width: 60rem;
	margin: auto;
	h1 {
		font-size: 2rem;
		margin: 1.5rem 0 .5rem 0;
		color: $primaryColor;
	} //end h1
	h2 {
		font-size: 1.5rem;
		margin: .75rem 0 .5rem 0;
		color: lighten($primaryColor, 10%);
	} //end h2
    div.container1 {
        display: -ms-flex;
        display: flex;
        -ms-flex-wrap: wrap;
        flex-wrap: wrap;
    }
    div.container2 {
        display: -ms-flex;
        display: flex;
        -ms-flex-wrap: wrap;
        flex-wrap: wrap;
        flex-direction: row;
        justify-content: space-between;
        align-items: flex-end;
    }
    div.container2 figure {
        -ms-flex: 46%;
        flex-basis: 50%;
        padding: 1rem $gutter;
        transition: transform .3s ease-in-out;
    }
    div.container2 figure img {
        width: 100%;
    }
    div.container2 figure:hover {
        transform: scale(1.05);
    }
    div.container1 div {
        -ms-flexbasis: 100%;
        flex-basis: 100%;
        padding: 1rem $gutter;
        align-items: stretch;
        background-color: #eee;
        border: solid 1px #bbb;
    }

} //end main
/*---------------FOOTER-------------*/

footer {
	width: 100%;
    background-color: $primaryColor;
	
    p{
        text-align: center;
        color: $secondaryColor;
        padding: .75rem 0;
        font-size: .9rem;
    }//end p
    
    p a {
        color: $secondaryColor;
    }
}//end footer

/*---------Clearfix: Force an Element not to collapse----------*/
.clearfix:after {
    content: "";
    display: table;
    clear: both;
}